$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
html {
  height: 100%;
}

body {
    height: 100%;
    padding-top: 10px;
    background-color: #5cb85c;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.container {
  height: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  -webkit-perspective: 800;
}



#controls {
  flex: none;
  text-align: center;
}

#controls button {
  width: 5em;
  height: 5em;
  border-radius: 50% 50%;
}

#controls .selector {
  padding: initial;
  border-radius: 0;
  height: 2em;
}

@media (max-width:320px) {
  #controls button {
    width: 5em;
    height: 5em;

  }

  #input, #output {
    font-size: 1.3em;
    padding: 50px;
  } 

}
.container p {
  flex: 1;
  width: 100%;
  transition: font 0.2s;
  margin: 5px;
}

.container .output {
  font-size: 3em;
}

#transcription {
  font-family: Helvetica;
  font-weight: 300;
  color: #224004;
  overflow: auto;
  min-height: 30%;
  transform: rotateY(-90deg);
  transform-origin: top left; 
  transition: 1s transform ease-in-out;
}

#transcription .glyphicons, #translation .glyphicons {
  padding-left: 25px;
  position: static !important;
  float: right;
}

#transcription .glyphicons:before, #translation .glyphicons:before {
  color: white;
  position: initial;
  opacity: 0.3;
}

#translation {
  font-family: Helvetica;
  font-weight: 300;
  min-height: 30%;
  color: white;
  overflow: auto;
  transform: rotateY(-90deg);
  transform-origin: top left; 
  transition: 1s transform ease-in-out;
  
}

#translation.ready, #transcription.ready {
  transform: rotateY(0deg)
}

#speak.listening {
  background-color: red;
}

#speak.listening .speak {
  display: none;
}

#speak .glyphicons.microphone {
  padding-left: 0px;
  vertical-align: baseline;
}

#speak .glyphicons.microphone:before {
  position: relative;
  margin: 0;
  color: white;
  font-size: 2em;
}

#speak .listening {
  display: none;
}

#speak.listening .listening {
  display: block;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */

.btn {
    font-size: 21px;
    padding: 14px 24px;
    -webkit-tap-highlight-color: transparent;
}

.btn:focus {
  outline:none !important;
}
