$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
html {
  height: 100%;
}

body {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
}

#controls {
  flex-grow: 1;
  height: 2em;
  max-height: 2em;
}

.container p {
  flex-grow: 2;
}

#transcription {
  font-family: Helvetica;
  font-size: 3em;
  font-weight: 300;
  color: #ddd;
}

#translation {

  font-family: Helvetica;
  font-size: 3em;
  font-weight: 300;
}

#speak.listening {
  background-color: red;
}

#speak.listening .speak {
  display: none;
}

#speak .listening {
  display: none;
}

#speak.listening .listening {
  display: block;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */

.btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
